<div class="card">
  <h5 class="card-header">Details of transaction</h5>
  <div class="card-body">
    <label for="id">ID :</label>
    <h2>{{details.id}}</h2>
    <label for="amount">Amount :</label>
    <h2>{{details.amount}}</h2>
    <label for="balance">Balance :</label>
    <h2>{{details.balance}}</h2>
    <label for="label">Label :</label>
    <h2>{{details.label}}</h2>
    <label for="date">Date</label>
    <h2>{{details.date}}</h2>
    <label for="description">Description</label>
    <h2>{{details.description}}</h2>
  </div>
  <button routerLink="/exercice3/acceuil" class="btn-primary">Go Back</button>
</div>
